.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  column-gap: 10px;
  grid-template-columns: 300px 1fr;
}
